* {
    margin: 0px;
    padding: 0px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex
;
    align-items: center;
    background-color: white;
    padding: 0 50px;
    height: 100px;
    
}

    .Home {
        position: fixed;
        top: 8px;
        right: 16px;
        font-size: 20px;
        padding-right: 400px;
        padding-top: 35px;
        
    }
    .About {
        position: fixed;
        top: 8px;
        right: 16px;
        font-size: 20px;
        margin-right: 250px;
        padding-top: 35px;
        
    }

    .Contact {
        position: fixed;
        top: 8px;
        right: 16px;
        font-size: 20px;
        padding-top: 35px;
        margin-right: 100px; 
    }

.text-container {
    width: 100%;
    height: 400px; 
    background-color: grey;
}